.header {

  &__headline {
    display: flex;
    justify-content: space-between;
    width: 1140px;
    margin: 0 auto;
    font-size: 12px;
    padding: 10px 0 8px;
    box-sizing: border-box;
    &--wrapper {
      background: $color-dark-blue;
    }
    &--inner-wrapper {
      max-width: 300px;
      width: 100%;
      display: flex;
      justify-content: space-between;
    }
  }
  &__email {
    color: $color-white;
    &:hover {
      text-decoration: underline;
    }
  }
  &__question {
    color: $color-white;
  }
  &__logo {
    background: url(../images/logo.png);
    width: 168px;
    height: 41px;
    display: block;
    font-size: 0;
  }
  &__main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    color: $color-light-blue;
    position: relative;
    width: 1140px;
    height: 105px;
    margin: 0 auto;
  }
}

@include width-1200 {
  .header {
    &__main,&__headline {
      width: 100%;
      padding: 0 15px;
      box-sizing: border-box;
    }
    &__headline {
      padding: 10px 15px 8px;
    }
  }
}
@include tablet {
  .header {
    &__main {
      flex-wrap: wrap;
      min-height: 105px;
    }
    &__headline {
      flex-wrap: wrap;
    }
  }
}

@include phone {
  .header {
    &__main {
      min-height: 165px;
    }
    &__headline {
      &--inner-wrapper {
        max-width: 100%;
        margin-bottom: 15px;
      }
    }
  }
}