.legal {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid $color-gray-2;
  padding: 52px 0 42px;
  text-transform: uppercase;
  margin-bottom: 27px;
  &__link {
    color: $color-gray;
    text-transform: uppercase;
    font-size: 12px;
    transition: all ease 0.3s;
    &:hover {
      text-decoration: underline;
    }
  }
}
