.social {
  margin-top: 2px;
  display: flex;
  width: 235px;
  &__twitter,
  &__facebook,
  &__youtube {
    width: 20px;
    height: 16px;
    fill: #bcbcbc;
    transition: all ease 0.3s;
    &:hover {
      fill: $color-white;
    }
  }
  &__list {
    display: flex;
  }
  &__findus {
    width: 235px;
  }
  &__item {
    margin-right: 10px;
    &:last-child {
      margin-right: 0;
    }
  }
  &__link {
    width: 20px;
    height: 16px;
    display: block;
    svg {
      width: 20px;
      height: 16px;
    }
  }
}
