.subscription {
  width: 1140px;
  padding: 24px 0 20px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  &--wrapper {
    background: #626262;
  }
  &__text {
    font: 16px/21px $font_light;
  }
  &__input {
    height: 35px;
    padding: 5px;
    box-sizing: border-box;
    width: 235px;
  }
  &__button {
    background: $color-light-blue;
    color: $color-white;
    padding: 10px 13px 10px 15px;
    margin-left: 22px;
    cursor: pointer;
    &:hover {
      background: darken($color-light-blue, 10%);
      box-shadow: none;
      color: $color-white;
    }
  }
  &__form {
    flex: 0 0 auto;
  }

}

@include width-1200 {
  .subscription {
    width: 100%;
    padding: 0 15px;
    box-sizing: border-box;
  }
}