.text-in-picture {
  display: flex;
  flex-direction: column;
  color: $color-white;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-transform: uppercase;
  position: relative;
  z-index: 2;
  @include tablet {
    padding: 0 15px;
  }
  &__text {
    font: 18px/23px $font_light;
    width: 100%;
    flex: 0 0 auto;
  }
  &__header {
    font: 56px/70px $font_bold;
    width: 100%;
    flex: 0 0 auto;
  }
  &__paragraph {
    font: 28px/35px $font_bold;
    max-width: 325px;
    width: 100%;
    flex: 0 0 auto;
  }
}
